doctype 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    if document.title
      title Paul Butler – #{document.title}
    else
      title Paul Butler – Data Scientist
    meta(name='viewport', content='width=device-width')
    link(
      href='/styles/screen.css',
      rel='stylesheet',
      type='text/css')
    link(
      href='/styles/app.css',
      rel='stylesheet',
      type='text/css')
  
  body
    != content

