doctype 5
html(lang='en')
  head
    title Paul Butler -- Data Scientist
    link(
      href='styles/screen.css',
      rel='stylesheet',
      type='text/css')
    link(
      href='styles/app.css',
      rel='stylesheet',
      type='text/css')
  
  body
    div(class='heading')
      div(class='image-cell')
        img(src='images/paul.jpg')
        h1 Paul Butler

    div(class='row')
      div(class='section-marker')
        h2 bio
      div(class='section-content')
        p I'm a freelance data scientist in Toronto, Canada.
          My focus is on creative exploration and visualization
          of large datasets. I love travelling, sailing, and
          exploring new cities.
      
    div(class='row')
      div(class='section-marker')
        h2 writing
      div(class='section-content')
        ul
          li
            a(href='#') Make for Data Scientists
            |  
            em October 15, 2012
          li
            a(href='#') Groupon Visualization in HBR
            |  
            em July 25, 2011
          li
            a(href='#') Archive
  
    div(class='row')
      div(class='section-marker')
        h2 links
      div(class='section-content')
        ul
          li
            a(href='#') email
          li
            a(href='#') linkedin
          li
            a(href='#') github
